.loginMainBlock{
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  margin: 38px 80px 0 0;

  .loginButton{
    padding-right: 50px;

    a{
      text-decoration: none;
      color: #000;
    }
  }

  .contactButton{

    a{
      text-decoration: none;
      color: #949494;
    }
  }
}