.search{
  text-align: right;
  margin-top: 10px;

  input{
    padding: 3px 20px 3px 3px;
    font-family: Oswald;
  }

  i.fa {
    position: relative;
    left: -20px;
    width: 0;
  }

  @media screen and (max-width: 768px) {
    text-align: center;
    margin-bottom: 15px;
  }
}